<br />
<div class="hero">
static_pages:index
</div>
<hr/>
<div>
  <h3>Amazing Courses</h3>
  <br />
  <p>Choose from any number of courses to study with amazing teachers.</p>
</div>
<hr/>
<div>
  <h3>Learn At Your Own Pace</h3>
  <br />
  <p>Enroll and access a courses archive of lessons.</p>
</div>
<hr/>
<div>
  <h3>Join our Community</h3>
  <br />
  <p>Learn with a community of like-minded individuals.</p>
</div>