<div class="multi-page">
  
  <div>
    <h1>Learn how to Design</h1>
    <%= link_to 'Learn More', courses_path, class: 'enter-button float-right' %>    
    <h2>with Eskil</h2>    
  </div>

  <div>
    <p>Amazing Courses</p>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div>
    <p>Learn At Your Own Pace</p>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div>
    <p>Join our Community</p>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>

</div>
