<div class="user-devise">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="user-form">
    <h3><%= current_lesson.title %></h3>
    <p><%= current_lesson.subtitle %></p>
    <%= link_to 'Video', current_lesson.video.to_s %>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>