<h4>Sign In</h4>
<br/>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, required: true, label: false, placeholder: 'email', class: 'btn' %>
  <%= f.input :password, required: true, label: false, placeholder: 'password', class: 'btn' %>
  <%= f.button :submit, 'Sign in', class: 'enter-button float-right' %>
<% end %>
<br/>
<h6>
  <a data-toggle="tab" href="#signupForm">Sign Up</a> | <a data-toggle="tab" href="#forgotForm">Forgot Password?</a>
</h6>