<div class="user-devise">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="user-form">
    <h4>Edit Lesson</h4>
    <br/>
    <%= simple_form_for current_lesson, url: instructor_section_lesson_path(current_section) do |f| %>
      <%= f.input :title, required: true, label: false, placeholder: 'title' %>
      <%= f.input :subtitle, required: true, label: false, placeholder: 'subtitle' %>
      <%= f.submit 'Update Lesson', class: 'enter-button' %>
    <% end %>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>