.app-footer {
  background-color: rgba(255,255,255,1.0);
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.app-footer li {
  float: right;
  height: 50px;
  padding: 15px;
  line-height: 2em;
  white-space: nowrap;
  text-align: center;
}

.fa-2x {
  color: rgba(0,0,0,0.7);
}

.fa-2x:hover {
  color: rgba(125,175,0,1.0);
}

.more {
  display: none;
  float: left;
  width: 100px;
  height: 50px;
  padding: 15px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
}

.gradient-footer {
  float: right;
  width: 50px;
  height: 20px;
  margin: 15px -15px -30px 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  overflow: hidden;
}

@media all and (max-width: 1200px) {

  .app-footer:hover, .app-footer:focus {
    width: 100%;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .more {
    display: block;
  }

  .gradient-footer {
    height: 50px;
    margin: 0px;
  }

}