.app-footer {
  background-color: rgba(255,255,255,1.0);
  font-size: 12px;
  font-weight: bold;
  color: black;
}


.app-footer a {
  color: black;
}

.app-footer li {
  float: right;
  height: 50px;
  padding: 15px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
}

.more {
  display: none;
  float: left;
  width: 100px;
  height: 50px;
  padding: 15px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
}

@media all and (max-width: 992px) {

  .app-footer:hover, .app-footer:focus {
    width: 100%;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .more {
    display: block;
  }


}