.my-video-dimensions {
    width: 100%;
    height: 100%;
}

.grab-section, .grab-lesson {
  float: left;
  cursor: move;
}

.grab-section {
  padding: 2px 5px 0px 0px;
  color: rgba(0,0,0,1.0);
}

.grab-lesson {  
  padding: 5px;
  color: rgba(0,0,0,0.3);
}

.left-right-icon {
  font-size: 2em;
  color: rgba(0,0,0,0.3);
}

.left-right-icon:hover {
  color: rgba(125,175,0,1.0);
}