.feature {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 1px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0,0,0,0.0);
}

.feature > div {
  margin: 0px;
  padding: 5%;
  background-color: rgba(0,0,0,0.1);
}

@media all and (max-width: 1920px) {
  .feature {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
   }
}

@media all and (max-width: 1280px) {
  .feature {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
   }
}

@media all and (max-width: 640px) {
  .feature {
    grid-template-columns: auto;    
   }
}